/*  BootStrap Overide css Start   */
.text-center {
text-align: center !important;
}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.dropdown-menu {
  top: inherit;
  background: #F5F4F1!important
}
.thumbnail {
  text-align: left;
  background: none;
  border: none;
  color: #002561;
  opacity: 1;
}
.thumbnail:hover {
  opacity: 0.8;
}
.mission-tabs li {
  float: left;
}
.dn {
  display: none !important;
}
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}
.navbar-toggle {
  background: #FF0004
}
.navbar-toggle .icon-bar {
  background: #fff;
}
a:focus {
  outline: none;
}

.nav li{  margin-bottom: 15px;
  margin-top: 10px;padding: 0 0 0 15px;}
  
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none; border:1px solid #EC1C24;
}

.nav li.active a {
  background-color: transparent;
  text-decoration: none; border:1px solid #EC1C24;
}
.nav li.active a i{ color:#EC1C24;}
.mission-tabs li a:focus,.mission-tabs li a:hover{ border:none;}

.nav > li > a:hover i{ color:#EC1C24;}
/*  BootStrap Overide css End */


.paddingnone {
  padding: 0!important;
}
.btn-blue {
  background: #002561;
  color: #fff;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.marginbottom15, .mb15 {
  margin-bottom: 15px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
#custom-search-input input, #custom-search-input button {
  border-radius: 0;
  box-shadow: none;
}
#custom-search-input label {
  font-size: 15px;
  font-weight: 200;
}
#navbar {
  padding: 15px 0;
}
.logo {
  padding: 15px 0 0;
}
.navbar-nav > li > a {
  font-weight: 400;
  color: #002561;
  font-size: 15px;
   border: 1px solid rgba(0, 0, 0, 0);
   padding: 10px 15px;
}
.our_inner {
  padding: 20px 0;
}
.our_inner span {
  font-size: 38px;
}
.our_inner .our_v {
  color: #444;
}
.our_inner .our_m {
  color: #444;
}
.our_inner .line {
  border-right: 1px solid #444444;
  margin: 0 15px;
  opacity: 0.5;
  line-height: 75px;
}
.ourmission li.active .our_m {
  color: #EC1C24;
}
.ourmission li:hover .our_m {
  color: #EC1C24;
}
.ourmission p {
  float: left;
  font-size: 28px;
  font-weight: 100;
  padding: 0 15px 0 0;
  width: 65%;
  color: #444;padding: 0 50px 0 0;   text-align: justify;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

@media screen and (min-width: 769px) {
#navbar {
  padding: 15px 0 0;
  float: right;
}
}
.h_top {
}
.subscribe_btn {
  border: 1px solid #002561;
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  color: #002561;
  padding: 5px 40px;
  margin-right: 15px;
  font-size: 21px;
}
.subscribe_btn:hover {
  text-decoration: none;
}
.emergency_btn {
  font-weight: 100;
  color: #fff;
  background: #ed1b24;
  padding: 5px 40px;
  border: 1px solid #ed1b24;
  font-size: 21px;
}
.emergency_btn:hover {
  text-decoration: none;
  background: #1a2f69;
  color: #fff;
  border: 1px solid #1a2f69;
}
.h_icon_title {
  color: #002561;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 15px;
}


.h_icon_section p {
  color: #444444;
  font-size: 18px;
  font-weight: 100;
}
.ourmission {
  background: #F5F4F1;
  padding: 50px 0;
}
.service_inner {
  background: #F5F4F1;
  margin-bottom: 35px;
  padding-bottom: 50px;
}
.box_line {
  background: #AAAAAA;
  height: 1px;
  margin: 30px 8% 15px;
  width: 84%;
}
.service_title {
  color: #002561;
  font-size: 24px;
  padding: 25px 20px 15px;
}
.service_inner p {
  color: #444444;
  font-size: 18px;
  font-weight: 100;
  padding: 0 20px;
}
.readmore {
  color: #EC1C24;
  float: right;
  padding: 0 20px;
  font-size: 15px;
}
.readmore:hover {
  color: #EC1C24;
  text-decoration: none;
}
.footer {
  background: #F5F4F1;
  padding: 45px 0;
}
.newletter_title {
  color: #002561;
  font-size: 24px;
}
.reset_btn {
  background: #F5F4F1;
  color: #002561;
  border: none;
  font-size: 21px;
  padding: 5px 20px;
  text-align: left;
  width: 100%;
}
.sub_btn {
  background: #EC1C24;
  color: #fff;
  border: none;
  font-size: 21px;
  padding: 5px 20px;
  text-align: left;
  width: 100%;
}
.footer_inner_menu {
  float: left;
  padding-right: 60px;
}
.footer_inner_menu h2 {
  color: #002561;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer_inner_menu ul {
  padding: 0;
}
.footer_inner_menu li {
  list-style-type: none;
}
.footer_inner_menu li a {
  color: #444444;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
}
.footer_inner_menu li a:hover {
  text-decoration: none;
}
.f_title {
  color: #002561;
  font-size: 24px;
}
.h_icon_section {
  margin: 45px 0;
}
.f_social ul {
  margin: 0;
  padding: 0;
}
.f_social li {
  float: left;
  padding: 15px 45px 0 0;
}
.f_social i {
  color: #444;
  font-size: 25px;
}
.partners_title {
  color: #EC1C24;
  font-size: 48px;
  margin: 15px 0 45px;
}
.p_saved_inner p {
  color: #002561;
  font-size: 48px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.p_saved_inner {
  border: 1px solid #EC1C24;
  margin: 45px 0;
  text-align: center;
  padding: 0 0 45px;
}
.knowmore_btn {
  border: 1px solid #444444;
  color: #EC1C24;
  padding: 10px 50px;
  font-size: 15px;
}
.knowmore_btn:hover {
  text-decoration: none;
}
.enquiry_title {
  color: #EC1C24;
  font-size: 48px;
  font-weight: 400;
}
.aboutus p {
  color: #444444;
  font-size: 28px;
  font-weight: 100;
}
.about_title {
  color: #EC1C24;
  font-size: 48px;
}
.about_box {
  border: 1px solid #EC1C24;
}
.about_box p {
  font-size: 48px;
  color: #002561;
  font-size: 45px;
  font-weight: 500;
  padding: 15px 25px;
}
.about_content {
  color: #444444;
  font-size: 28px;
  font-weight: 100;
}
.s_plan p {
  color: #002561;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.s_plan a:hover {
  text-decoration: none;
}
.enquiry select, .contact select {
  width: 100%;
  background: transparent;
  border: 1px solid #474644;
  padding: 6px 10px;
}
.contact input[type="text"], .contact input[type="email"] {
  padding: 0 0 5px 10px;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #474644!important;
  color: #A6A6A4;
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.contact textarea {
  border: 1px solid #474644!important;
  box-shadow: none;
  border-radius: 0;
  min-height: 100px;
}
/*input Design */

.newletter input[type="text"], .family input[type="text"], .family input[type="email"], .newletter input[type="email"], .enquiry input[type="text"], .enquiry input[type="email"], .enquiry input[type="tel"] {
  padding: 0 0 5px 10px;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #474644!important;
  color: #A6A6A4;
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
/* Slideer css Start */
.carousel-caption {
  width: 28.5%;
  background: rgba(0, 37, 97,.8);
  left: 10%;
  height: 100%;
  bottom: 0px;
  padding: 2.5%;
  text-align: left;
}
.carousel-caption h1 {
  font-family: "Muli", sans-serif !important;
  font-size: 48px;
  text-shadow: none;
}
.carousel-caption p {
  font-size: 21px;
  font-family: "Muli", sans-serif !important;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 50px;
}
.carousel_btn {
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  font-family: "Muli", sans-serif !important;
  padding: 10px 25px;
}
/* Slideer css End */

/*how it work tab start*/


.howitwork_tab li {
  float: left;
  list-style-type: none;
}
.howitwork_tab li.active a {
  background-color: #002561;
  color: #fff;
  text-decoration: none;
}
.howitwork_tab li a {
  background-color: #F5F4F1;
  color: #002561;
  font-size: 16px;
   padding: 5px 85px;
  margin-right: 20px; line-height:50px;
}
.howitwork_tab li a:hover {
  text-decoration: none;
}
.howitwork_tab {
  background: none!important;
}

.howitwork_tab {
  margin-bottom: 70px;
  margin-top: 25px;
  padding: 0;
}

.howitwork_tab p{ font-size:22px; font-weight:100; color:#444; text-align:justify;}
.howitwork_stage{ color:#EC1C24; font-size:28px; font-weight:400;padding: 5px 0;}
.howitwork_title{color:#002561; font-size:28px; font-weight:400; padding-bottom: 25px;}
/*how it work tab end*/


/*faq Start*/

.faq-tab li {
  float: left;
  list-style-type: none;
}
.faq-tab li.active a {
  background-color: #002561;
  color: #fff;
  text-decoration: none;
}
.faq-tab li a {
  background-color: #F5F4F1;
  color: #002561;
  font-size: 16px;
  padding: 5px 40px;
  margin-right: 20px;
}
.faq-tab li a:hover {
  text-decoration: none;
}
.faq-acc {
  background: none!important;
}
.faq-acc .panel {
  border-bottom: 1px solid #4C4C4C;
}
.faq-acc .panel-body {
  color: #444444;
  font-size: 24px;
  font-weight: 100;
}
.faq-acc .panel-title a {
  font-size: 28px;
  color: #444444;
  text-decoration: none;
}
.faq-acc .panel-heading {
  padding: 20px 0;
}
.faq-tab {
  margin-bottom: 70px;
  margin-top: 25px;
  padding: 0;
}
/*faq End*/

/*partner start */
.par_text {
  color: #444444;
  font-size: 24px;
  font-weight: 100;
}
.par_title {
  color: #444444;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}
.enquiry p {
  color: #444444;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
/*partner end*/
.ser_s_title{color:#EC1C24; font-size: 48px; font-weight:400; }
.services_section p{ 
  color: #444444;
  font-size: 22px;
  font-weight: 100;
   line-height: 35px;
  padding: 15px 0 8px 0;}
.adv_name {
  color: #002561;
  font-size: 28px;
  font-weight: 700;
  line-height: 25px;
}
.adv_desigination {
  color: #002561;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 0 15px;
}
/*application Start */

.event_title {
  color: #002561;
  font-size: 24px;
  font-weight: 400;
}
.loadmore_btn {
  border: 1px solid #EC1C24;
  color: #EC1C24;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 50px;
}
.loadmore_btn:hover {
  text-decoration: none;
  border: 1px solid #002561;
  background: #002561;
  color: #fff;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}
.tab-content > .active, .pill-content > .active {
  display: block;
}
.nav.nav-tabs {
  border: none;
}
.nav.nav-tabs-left {
  padding-left: 0px;
}
.nav.nav-tabs-right {
  padding-right: 0px;
}
.nav.nav-tabs > li {
  width: 47%;
}
.nav.nav-tabs > li > a {
  font-weight: 100;
  color: #337ab7;
  background: #f5f4f1;
  padding: 8px 15px;
  font-size: 13px;
  margin: 10px 0px;
  border-radius: 0px;
}
.nav.nav-tabs > li.active > a, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li.active > a:hover, .nav.nav-tabs > li > a:focus, .nav.nav-tabs > li.active > a:focus {
  font-weight: 100;
  color: #fff;
  background: #337ab7;
  padding: 8px 15px;
  font-size: 13px;
  margin: 10px 0px;
  border-radius: 0px;
}
.tab-content {
  background-color: #f5f4f1;
  border: none;
  padding: 16px;
  color: #337ab7;
  font-size: 14px;
  margin: 8px 0px;
}
.addtocart_btn {
  background: #337ab7;
  color: #fff;
  border: none;
  font-size: 21px;
  padding: 5px 20px;
  text-align: left;
  width: 100%;
}
.family_fare {
  color: #EC1C24;
  font-size: 44px;
  font-weight: 100;
}
a.add_wishlist {
  float: right;
  padding-top: 15px;
}
/*Family plan  CSS End*/

.newletter input[type="text"], .family input[type="text"], .family input[type="email"], .newletter input[type="email"], .enquiry input[type="text"], .enquiry input[type="email"], .enquiry input[type="tel"] {
  box-shadow: none;
  border-radius: 0;
  font-weight: 100;
}


.services_section input[type="text"],.services_section input[type="email"]{
  box-shadow: none;
  border-radius: 0;
  font-weight: 100;
  padding: 0 0 5px 10px;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #474644!important;
  color: #A6A6A4;
  font-size: 18px;
  border: none;
  }
  .ser_s_enq{ color:#002561;  border:1px solid #002561;  font-size: 24px;
  font-weight: 400;
  padding: 0 0 5px;
  text-align: center;}
.enquiry select, .contact select,.services_section select {
  width: 100%;
  background: transparent;
  border: 1px solid #474644;
  padding: 6px 10px; font-size:14px;color: #A6A6A4;
}
.contact input[type="text"], .contact input[type="email"] {
  padding: 0 0 5px 10px;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #474644!important;
  color: #A6A6A4;
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.family textarea, .contact textarea, .enquiry textarea {
  border: 1px solid #474644!important;
  box-shadow: none;
  border-radius: 0;
  min-height: 100px;
  width: 100%;
}
.login_text {
  font-weight: 500 !important;
  margin-top: 7px;
}
.mb150 {
  margin-bottom: 150px;
}
label.error {
  color: #BD0404;
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 5px 10px;
}
.head-divider {
  border-top: 1px solid #474644;
}
/*application End */

.news_title {
  color: #444444;
  font-size: 18px;
  font-weight: 400;
}
.news_years {
  color: #002561;
  font-size: 20px;
  font-weight: 400;
}
.news_section img{ cursor:pointer; border:1px solid #002561;}
.termsandconditions h2 {
  font-size: 21px;
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  color: #002561;
}
.termsandconditions ul {
  padding: 0;
}
.termsandconditions li {
  font-size: 16px;
  font-family: "Muli", sans-serif !important;
  font-weight: 100;
  color: #444;
  list-style: none;
  padding-bottom: 5px;
}
.termsandconditions .modal-body {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 20px;
}

.termsandconditions .modal-title{color:#EC1C24; font-size:22px;}
.termsandconditions .checkbox label{ font-size:16px;line-height: 17px; font-weight:400; color:#444;}
.career_current{ 
color:#002561;
  font-size: 20px;
  font-weight: 400;}
  
  

/* floating box style */
.floating-form {
  top: 0;
  max-width: 300px;
  padding: 15px 20px 20px;
  font-size:18px;
  font-family: "Muli", sans-serif !important;
  background: #fff;
  border: 1px solid #ddd;
  right: 10px;
  position: fixed; z-index:9999999;
  
  }
  #contact_body button {
font-size: 18px; text-align:center;
}
.contact-opener {
  font-family: "Muli", sans-serif !important;
  position: absolute;
  left: -82px;
  transform: rotate(-90deg);
  top: 100px;
  background-color: #1A2F69;
  padding: 9px;
  color: #fff;
  font-size:28px;
  
  cursor: pointer;
  

}
.floating-form-heading{
  font-weight: 400;
  font-family: "Muli", sans-serif !important;
 
  margin-bottom: 10px;
  font-size: 24px;
  padding-bottom: 3px;
}
.floating-form label{
  display: block;
  margin: 0px 0px 15px 0px; font-family: "Muli", sans-serif !important;
}
.floating-form label > span{
  width: 70px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.floating-form span.required{
  color:red;
}
.floating-form .tel-number-field{
  width: 40px;
  text-align: center;
}
.floating-form  .long{
  width: 120px;
}
.floating-form input.input-field{
  width: 68%;
 
}

.floating-form input.input-field,
.floating-form .tel-number-field,
.floating-form .textarea-field,
.floating-form .select-field{
 
  border: 1px solid #C2C2C2;
 
  padding: 7px;
  outline: none;
}
.floating-form .input-field:focus,
.floating-form .tel-number-field:focus,
.floating-form .textarea-field:focus,  
.floating-form .select-field:focus{
  border: 1px solid #0C0;
}
.floating-form .textarea-field{
  height:100px;
  width: 68%;
}
.floating-form input[type="button"],
.floating-form input[type="submit"], .contact-opener {
  
  cursor: pointer;
  color: #FFFFFF;
 text-align:center;
  text-decoration: none;
  font-size: 18px!important;
}
.floating-form input[type="button"]:hover,
.floating-form input[type="submit"]:hover, .contact-opener {
  
  background-color: #EC1C24;
}


  #accordion p{
	  color: #444444;
  font-size: 24px;
  font-weight: 100;
  
	  }
	  
  #accordion .panel {
border-bottom: 1px solid rgb(0, 0, 0);
border-radius: 0;
box-shadow: none;     padding: 15px 0;
}
#accordion .panel-body {
margin-top: 20px;
}
.collapsed .fw400{ font-weight:100!important;}
.fw400{ font-weight:400!important;}
.career_title{ float:left;    font-size: 24px; font-weight:100; color:#444;}

.medical_table tr{ border-bottom:1px solid #b2b2b1;}
.medical_table {font-size: 18px; font-weight:100; color:#444;width: 100%;}
.medical_table  tr:nth-child(even) {background:#f4f4f2;}
.medical_table  tr:nth-child(odd) {background:#fff;}
.medical_table td, .medical_table th {
padding: 5px 10px;
width: 50%;
}
.form_input {
  box-sizing: border-box;
  float: left;
 
  
  position: relative;
  width: 100%;
 }
 .placeholder {
  color: #A6A6A4;
  left: 15px;
  font-size: 18px;
  font-weight: 400;
 
  position: absolute;
  top: 10px;
  transition: 0.3s ease;
  
  z-index: 7;
 }
 .input_text {
 top: 14px;
 left: 5px;
  height: 35px;
  
  padding: 15px 0 0 0;
  width: 100%;
  display: block;
 
  position: relative;
  z-index: 9;
 
 }
 .added-placeholder .placeholder {
  top: -5px;
  font-size: 12px;
 }





@media screen and (min-width: 100px) and (max-width: 600px) {
.subscribe_btn, .emergency_btn {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px 15px;
  width: 100%;
}
.logo img {
  width: 75%;
}
.navbar-toggle {
  

}
}
